@*@using WebAppCore.Models.Home

@model IEnumerable<BreadcrumbModel>

<div class="row">
    <div class="col-sm-12">
        <div class="page-title-box">
            <ol class="breadcrumb hide-phone float-right p-0 m-0">

                <li class="breadcrumb-item">
                    <a href="@Url.Action("Index", "Home", new { Area = "" })">CMOS</a>
                </li>
                <li class="breadcrumb-item">
                    <a href="@Url.Action("Index", "Home", new { Area = "Administrator" })">Administrator</a>
                </li>
                <li class="breadcrumb-item active">
                    Setting
                </li>

            </ol>

            <h4 class="page-title">Setting</h4>
        </div>
    </div>
</div>*@

<br />