<footer class="footer text-right">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 text-center">
                2022 - 2023 © AISTP - AIS
            </div>
        </div>
    </div>
</footer>